PORT=8080
MONGO_URI=mongodb://localhost:27017/smartlib
CLOUDINARY_API_KEY=717483594177979
CLOUDINARY_API_SECRET=EE9bQfLDngS5rk5IReFIeE4lGLw
CLOUDINARY_CLOUD_NAME=dygheoeoa
GEMINI_KEY_1=AIzaSyDnfab00jl_g0TLUkEu_4wiJyWqpEQbxB
GEMINI_KEY_2=AIzaSyCG-iY7qKlfOdLsY2o-SXvB_nfLvvqZBB0
GEMINI_KEY_3=AIzaSyCOadsjBwwTa8gmDjwKVj3rCiAzfCAUqr0
JWT_SECRET=lulupupuchulugulu
MONGODB_URI="mongodb+srv://qrsmartlibrary_db_user:3dcLwhNPQ5w27H92@smartlib.wzhevfq.mongodb.net/?appName=smartlib"